@font-face {
	font-family: poppins;
	src: url(fonts/Poppins-Light.ttf);
	font-weight: lighter;
}

@font-face {
	font-family: poppins;
	src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: poppins;
	src: url(fonts/Poppins-Bold.ttf);
	font-weight: bold;
}

html, body {
	height: 100%;
	font-family: poppins !important;
	background-color: #A0A0A0;
	color: #202020 ;

}


.slider button {
	position: absolute;
	background: white;
	border: none;
	z-index: 100;
	font-size: ;
}
.slick-prev {
	left: 0;
	top: 0px;
	bottom: 0px;
}

.slick-next {
	right: 0;
	top: 0px;
	bottom: 0px;
}

.loader > div > div{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}